#buttonContainer {
  display: 'flex';
  align-items: 'center';
  font-size: 30px;
  padding: 5px 10px;
  font-weight: bold;
  box-shadow: 0 2px 7px black;
  border-width: 2px;
  border-style: solid;
}

.anim {
  &:active {
    transform: scale(0.93);
  }

  transition: transform 0.1s, border-color 0.2s;
}